* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: url(./images/spikes.png);
}

/* #1372C9 */




/* CONTACT ME ================================================= */

.contact {
  background-color: var(--clr-medium-grey);
  text-align: center;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact h3 {
  padding-bottom: 2rem;
  font-size: 1.9rem;
  color: var(--clr-white);
}

.contact input {
  padding: .5rem;
  margin-bottom: 1rem;
  font-family: 'Poppins';
  outline: none;
}

.contact input[type="submit"] {
  margin-bottom: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
}

.contact form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--clr-light-grey);
  padding: 1.5rem;
  border-radius: 12px;
}

textarea {
  padding: .5rem;
  margin-bottom: 1rem;
  resize: vertical;
  font-family: 'Poppins', sans-serif;
}

.submit-btn {
  background-color: var(--clr-blue);
  color: white;
  border-radius: 8px;
  border: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

#status {
  padding: .5rem;
  border-radius: 6px;
  font-size: .9rem;
  font-weight: 600;
  width: 30rem;
  margin: 0 auto;
  margin-top: 1rem;
}

#status.success {
  background-color: rgb(121, 224, 95);
  animation: status 4s ease-in-out forwards;
}

#status.error {
  background-color: rgb(255, 59, 59);
  color: white;
  animation: status 4s ease-in-out forwards;
}

@keyframes status {
  0% {
      opacity: 1;
      pointer-events: all;
  }
  90% {
      opacity: 1;
      pointer-events: all;
  }
  100% {
      opacity: 0;
      pointer-events: none;
  }
}

/* HOVER EFFECTS */

.submit-btn:hover {
  background: var(--clr-purple-main);
  color: white;
}